<div class="container mx-auto px-4 py-6 min-h-screen flex flex-col">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl mb-6">Edit Agent</h1>
    <%= link_to "Back to Agents", agents_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
  <%= render "form" %>
</div>
