<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @agent %>

    <%= link_to "Edit this agent", edit_agent_path(@agent), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to agents", agents_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this agent", @agent, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
