<div class="flex flex-col h-full">
  <nav class="flex-grow p-4 space-y-4">
     <h5 class="text-gray-600"> Main </h5>
    <a href="#" class="flex items-center text-black hover:bg-gray-100 rounded p-2">
      <span class="material-icons-outlined mr-2"><i class="bi bi-columns-gap"></i></span>
      Dashboard
    </a>
    <a href="#" class="flex items-center text-black hover:bg-gray-100 rounded p-2">
      <span class="material-icons-outlined mr-2"><i class="bi bi-person"></i></span>
      Agencies
    </a>
    <a href="#" class="flex items-center text-black hover:bg-gray-100 rounded p-2">
      <span class="material-icons-outlined mr-2"><i class="bi bi-person-circle"></i></span>
      Agents
    </a>
    <a href="#" class="flex items-center text-black hover:bg-gray-100 rounded p-2">
      <span class="material-icons-outlined mr-2"><i class="bi bi-building"></i></span>
      Companies
    </a>
  </nav>

  <div class="p-4">
    <h5 class="text-gray-600"> Other </h5>
    <a href="#" class="flex items-center text-black hover:bg-gray-100 rounded p-2">
      <span class="material-icons-outlined mr-3"><i class="bi bi-pie-chart"></i></span>
      Support
    </a>
  </div>
</div>
